.home-header {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
    .home-header-intro {
        display: flex;
        align-items: center;
    }
}
.home-header-content > :first-child {
    font-size: 1.4rem;
}
.home-header-btn {
    display: flex;
    align-items: center;
    .home-header-icon {
        margin-right: 6px;
    }
}
.home-header-btn > :first-child {
    margin-right: 16px;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
        color: var(--primary);
    }
}
@media (max-width: 85.375em) {
    .home-header {
        height: 100px !important;
    }
}
@media (max-width: 46.1875em) {
    .home-header {
        height: 160px !important;
    }
    .home-header-btn > :first-child {
        display: none !important;
    }
}
