.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    .logo-icon {
        width: 33px;
        height: 33px;
        padding: 4px;
        margin-bottom: 3px;
        margin-left: 6px;
    }
    .logo-icon.small {
        width: 24px;
        height: 24px;
    }
    .about-app {
        display: flex;
        margin: 0 8px 0 4px;
        .app-name {
            font-size: 1.6rem;
            margin-right: 4px;
            color: #323338;
        }
        .app-description {
            font-size: 1.6rem;
            font-weight: 300;
            margin-right: 4px;
        }
        .app-description.small {
            font-size: 1.4rem;
            font-weight: 300;
            margin-left: -4px;
            white-space: nowrap;
        }
    }
}
@media (max-width: 46.1875em) {
    .app-description {
        display: none !important;
    }
}
