.container {
    display: flex;
    background-color: var(--color-header);
}
.content {
    display: flex;
    flex-grow: 1;
    border-top-left-radius: 8px;
    overflow: auto;
}

@media (max-width: 85.375em) {
    .content {
        width: calc(100% - 172px);
    }
}
