.overlay.show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(transparent, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    .login-message {
        background: var(--white);
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        h3 {
            padding-bottom: 18px;
        }
        .login-message-button {
            display: inline-block;
            padding: 8px 12px;
            background-color: var(--primary);
            color: var(--white);
            border-radius: 4px;
        }
    }
}
@media (max-width: 85.375em) {
    .login-message {
        width: 80% !important;
    }
}
@media (max-width: 46.1875em) {
    .login-message {
        width: 70% !important;
    }
}
