.wrapper {
    margin: 24px 24px 0 24px;
    .content-item {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 700;
        color: var(--color-title);
        .arrow-down-icon {
            width: 24px;
            height: 24px;
            transition: transform 0.2s;
        }
        .arrow-down-icon.show {
            transform: rotate(0.25turn);
        }
        .notify {
            width: 24px;
            height: 24px;
            padding: 2px 8px;
            margin-left: 8px;
            font-size: 1.4rem;
            background-color: var(--primary);
            color: var(--white);
            border-radius: 9999px;
        }
        .iconRight {
            margin-left: 6px;
        }
    }
    .children.show {
        padding: 16px 16px 24px 16px;
    }
}
