.task-tool {
    display: flex;
}
.task-tool-item {
    height: 32px;
    display: flex;
    align-items: center;
    margin-right: 4px;
    font-size: 1.4rem;
    color: #666;
    padding-right: 12px;
    .icon {
        height: 20px;
        width: 32px;
    }
    &:hover {
        background-color: var(--color-hover);
        border-radius: 4px;
    }
}
.task-tool-item.active {
    background-color: var(--color-active);
    border-radius: 4px;
}
.tool-hide {
    padding: 10px 18px;
    background-color: var(--white);
    color: #333;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 0px 4px var(--color-border);
    .tool-hide-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50%;
        padding: 8px;
        font-size: 1.4rem;
        &:hover {
            background-color: var(--color-hover);
            border-radius: 4px;
            cursor: pointer;
        }
    }
    .tool-hide-item :first-child {
        padding-right: 8px;
    }
}
.tool-hide > :first-child {
    padding-bottom: 8px;
}

.tool-sort {
    padding: 10px 18px;
    background-color: var(--white);
    color: #333;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 0px 4px var(--color-border);
    .tool-sort-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50%;
        width: 240px;
        padding: 8px;
        font-size: 1.4rem;
        cursor: grab;
        .sort-item-title {
            display: flex;
            align-items: center;
        }
        .sort-item-state {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 132px;
            padding: 8px;
            border: 1px solid var(--color-hover);
            border-radius: 4px;
            img {
                transition: transform 0.2s;
                transform: rotate(0, 1turn);
            }
            &:hover {
                border: 1px solid var(--black);
                cursor: pointer;
            }
        }
        .sort-item-render {
            padding: 8px;
            background-color: var(--white);
            color: #333;
            border-radius: 4px;
            overflow: hidden;
            box-shadow: 0px 0px 4px var(--color-border);
            .render-item {
                display: flex;
                align-items: center;
                padding: 8px;
                &:hover {
                    background-color: var(--color-hover);
                    border-radius: 4px;
                }
            }
            .render-item > :first-child {
                width: 20px;
                padding-right: 12px;
            }
        }
    }
}
.sort-item-state.render {
    img {
        transform: rotate(0.5turn);
    }
}

@mixin sort-item-color($color-name, $color-value) {
    .tool-sort-item.#{$color-name} {
        .sort-item-title {
            img {
                width: 24px;
                margin-right: 12px;
                background-color: $color-value;
                border-radius: 4px;
            }
        }
    }
}
@include sort-item-color('color0', #11dd80);
@include sort-item-color('color1', #00cff4);
@include sort-item-color('color2', #ffcc00);

.tool-filter {
    display: flex;
    padding: 10px 18px;
    background-color: var(--white);
    color: #333;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 0px 4px var(--color-border);
    .tool-filter-title {
        font-size: 1.5rem;
        color: #666;
        margin-left: 12px;
    }
    .tool-filter-item {
        min-width: 100px;
        padding: 6px 12px;
        margin: 6px 12px;
        font-size: 1.4rem;
        background-color: #f5f6f8;
        border-radius: 4px;
        &:hover {
            background-color: var(--color-hover);
            cursor: pointer;
        }
    }
    .tool-filter-item.active {
        background-color: var(--color-active);
    }
}
@mixin filter-status-color($color-name, $color-value) {
    .tool-filter-item {
        display: flex;
        align-items: center;
        .#{$color-name} {
            width: 12px;
            height: 12px;
            border-radius: 9999px;
            background-color: $color-value;
            margin-right: 6px;
        }
    }
}
@include filter-status-color('color0', #00c875);
@include filter-status-color('color1', #fdab3d);
@include filter-status-color('color2', #e44258);
@include filter-status-color('color3', #c4c4c4);
