.wrapper {
    position: fixed;
    display: block;
    font-family: var(--font-header);
    height: var(--header-height);
    width: 100%;
    margin: 0;
    background-color: var(--color-header);
    z-index: 999;
}
.inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0 4px;
}
.header {
    display: flex;
    align-items: center;
    cursor: pointer;

    .header-btn {
        font-size: 1.3rem;
        font-weight: 500;
    }
}
.options-icon {
    display: none;
}
@media (max-width: 85.375em) {
    .header-btn {
        display: none !important;
    }
}
.logo-theme {
    height: 24px;
    width: 24px;
}
.actions {
    display: flex;
    align-items: center;
    .header-icon {
        padding: 10px;
        margin: 0 2px;
        border-radius: 4px;
        &:hover {
            background-color: var(--color-hover);
            cursor: pointer;
        }
    }
    .line {
        margin: 0 2px;
        height: 22px;
        border-left: 1px solid #d0d4e4;
    }
    .avarta-with-logo {
        display: flex;
        height: 32px;
        margin-left: 2px;
        align-items: center;
        background-color: #f6f7fc;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        .logo-theme {
            width: 24px;
            height: 24px;
            margin: 0 6px;
        }
        .avarta {
            width: 32px;
            height: 32px;
            border-radius: 9999px;
        }
        .avarta-custom {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            font-weight: 600;
            color: #fff;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .menu {
        padding: 10px 24px;
        background-color: var(--white);
        color: #333;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0px 0px 4px var(--color-border);
        .menu-title {
            display: flex;
            align-items: center;
            img {
                width: 36px;
            }
            .menu-name-user {
                padding-left: 4px;
                font-size: 1.4rem;
            }
        }
        .menu-item {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            color: #444;
            padding: 8px 48px 8px 12px;
            border-radius: 4px;
            &:hover {
                background-color: var(--color-hover);
                cursor: pointer;
            }
            .menu-item-title {
                padding-left: 8px;
            }
        }
    }
}
@media (max-width: 46.1875em) {
    .options-icon {
        display: flex !important;
        padding: 10px;
        margin: 0 4px;
    }
    .header-icon {
        display: none !important;
    }
    .navbar-lite {
        background-color: var(--white);
        box-shadow: 0px 0px 4px var(--color-border);
    }
}
